* {
    margin: 0;
    padding: 0;
}


.background {
    background-repeat: no-repeat;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 132, 255, 0.63);
    box-shadow: 1px 6px silver;    
    text-align: center;

}

.navbar a {
    font-size: 25px;
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

.profile-layout {
    /* border-color: red;
    border-style: dotted; */
    width: 1200px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 80%;
    Left: 50%;
    transform: translate( -50%, -80% );

}


.profile-container {
    width: 300px;
    height: 600px;
    position: absolute;
    top: 20%;
    Left: 0%;
    transform: translate( 0%, -20% );


}

.profile-icon {
    border-color: black;
    border-style: solid;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    background-image: url(../images/profile-user.png);
    background-size: cover;
    position: absolute;
    top: 5%;
    Left: 50%;
    transform: translate( -50%, -5% );
}

.my-profile-text {
    border-style: dotted;
    border-color: red;
    width: 200px;
    height: 20px;
    position: absolute;
    top: 32%;
    Left: 50%;
    transform: translate( -50%, -5% );
}

h1 {
    font-size: 14px;
    text-align: center;
    color: black;
}

.profile-body {
    border-color: red;
    border-style: dotted;
    color: black;
    font-size: 12px;
    text-align: center;
    width: 250px;
    height: 300px;
    position: absolute;
    top: 45%;
    Left: 50%;
    transform: translate( -50%, -10% );
}

.profile-logo {
    border-color: red;
    border-style: dotted;
    height: 200px;
    width: 600px;
    background-image: url(../images/hb-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 5%;
    Left: 50%;
    transform: translate( -50%, -5% );

}

.user-feed-box {
    border: black;
    border-style: dotted;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 80%;
    Left: 50%;
    transform: translate( -50%, -80% );
}

.trackers {
    width: 300px;
    height: 600px;
    background-color: none;
    position: absolute;
    top: 80%;
    Left: 82%;
    transform: translate( -82%, -80% );


}